<div class="title">
  <h1>Productos</h1>


  <a href="/api/carts">
    <label for="carts">Mira los carritos actuales</label>
    <img id="carticon" src="../images/carticon.png" alt="carrito">
  </a>

   <a href="/api/">
    <img id="homeicon" src="../images/home.png" alt="home">
  </a>

 
</div >

<br>
<br>
<form id="productSearch">
  <label >Buscar producto por nombre</label>
  <input id="searchTitle" type="text"  >
  <button type="submit">Buscar</button>
</form>
<div class="list">
 <h3 id=""></h3> 
<table>
	<thead>
		<tr>
			<td>Title</td>
			<td>Description</td>
			<td>Category</td>
			<td>Price</td>
			<td>Stock</td>
			<td>ID de producto</td>
			<td>Owner</td>
			<td>Accion</td>
		</tr>
	</thead>
	<tbody>
    {{#each products.docs}}
            <tr>
			<td>{{this.title}}</td>
			<td>{{this.description}}</td>
			<td>{{this.category}}</td>
			<td>${{this.price}}</td>
			<td>{{this.stock}}</td>
			<td id="_id">{{this._id}}</td>
			<td>{{this.owner}}</td>
      <td><button id="deleteProduct" data-id={{_id}} >Eliminar</button></td>
		</tr>
        {{/each}}
	</tbody>
</table>


</div>
 <div class="pagination">
        <a href="/api/products?page={{products.prevPage}}&&limit=">Prev</a>
        <a href="/api/products?page={{products.nextPage}}">Next</a>
<h5>
      {{ products.page }} / {{ products.totalPages }}
    </h5>
 </div>
<div class="uploadProducts">


<h3 id="message"></h3>
    <button id="openModalBtn"> Agregar producto</button>
<div id="modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <form id="nuevoProducto" class="vertical-form">
      <div class="form-group">
        <label for="title">Nombre:</label>
        <input type="text" name="title" placeholder="Nombre">
      </div>
      <div class="form-group">
        <label for="description">Descripción:</label>
        <input type="text" name="description" placeholder="Descripción">
      </div>
      <div class="form-group">
        <label for="category">Categoría:</label>
        <input type="text" name="category" placeholder="Categoría">
      </div>
      <div class="form-group">
        <label for="price">Precio:</label>
        <input type="text" name="price" placeholder="Precio">
      </div>
      <div class="form-group">
        <label for="file">Elige una imagen:</label>
        <input type="file" name="thumbnail">
      </div>
      <div class="form-group">
        <label for="code">Código:</label>
        <input type="text" name="code" placeholder="Código">
      </div>
      <div class="form-group">
        <label for="stock">Stock:</label>
        <input type="text" name="stock" placeholder="Stock">
      </div>
      <button>Enviar</button>
    </form>
  </div>
</div>
</div>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script type="module" src="/products.js">
      </script>
